/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  
--White: hsl(0, 100%, 100%);
--Grey-500: hsl(0, 0%, 63%);
--Grey-800: hsl(0, 0%, 27%);
--Black: hsl(0, 0%, 0%);

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


@font-face {
  font-family: 'LeagueSpartan';
  src: url('/fonts/LeagueSpartan-VariableFont_wght.ttf');
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'LeagueSpartan';
  font-size: 16px;
}

h1{
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.8rem;
}
p{
  color: var(--Grey-500);
}

img{
  display: block;
  width: 100%;
}

picture{
  display: block;
  width: 100%;
}

div#root{
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header{
  width: 100%;
  position: relative;
}

header .slide-container{
  position: relative;
  margin-top: -120px;
}

header .slide-container img{
  display: block;
}

header .slide-img-box{
  position: relative;
}

header .slide-text-box{
  padding: 2.5rem 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header .slide-nav-box{
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}
header .slide-nav-btn{
  padding: 1rem;
  cursor: pointer;
  background-color: hsl(0, 0%, 0%);
  transition: all .3s ease;
}
header .slide-nav-btn:hover{
  background-color: var(--Grey-800);
}

header button.cta-btn{
  background: none;
  border: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: .5rem;
  word-spacing: .5rem;
  font-weight: 600;
  color: #000;
}

nav{
  padding: 2.5rem 1.7rem;
  background-color: transparent;
  position: relative;
  z-index: 100;
  display: flex;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  align-items: end;
  overflow: hidden;
}

nav div.logo-box{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 45px;
  left: 0;
}

nav button.ham-menu-btn {
  width: 24px;
  height: 24px;
  display: block; 
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}

nav button.ham-menu-btn span {
  width: 24px;
  height: 2px;
  background: #fff;
  display: block;
  position: absolute;
  transition: transform .3s ease;
}

button.ham-menu-btn span:nth-child(1){
top: 0;
}
button.ham-menu-btn span:nth-child(2){
  top: 45%;
}
button.ham-menu-btn span:nth-child(3){
  bottom: 0;
}

button.ham-menu-btn.active span:nth-child(1){
  transform: translateY(5px) rotate(45deg);
  background-color: #808080;
}
button.ham-menu-btn.active span:nth-child(2){
  display: none;
}
button.ham-menu-btn.active span:nth-child(3){
  transform: translateY(-17px) rotate(-45deg);
  background-color: #808080;
}


nav div.menu-contr{
  display: none;
  height: 100%;
  justify-content: end;
  align-items: center;
  background-color: #fff;
  position: absolute;
  top: -100%;
  right: 0;
  width: 100%;
  transition: top .3s ease;
}
nav div.menu-contr.active{
  display: flex;
  top: 0;
  right: 0;
}

div.menu-contr ul{
  position: relative;
  bottom: .3rem;
  padding: 0 1.5rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

div.menu-contr a{
  text-decoration: none;
  color: #000;
}

main .about-text-box{
  padding: 2.5rem 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main .about-text-box h2{
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-transform: uppercase;
}



@media(min-width: 768px){
 
  nav{
    padding: 3rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2rem;
  }
  
  nav button.ham-menu-btn {
    display: none;
  }
  
  nav div.menu-contr{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: none;
    right: none;
    width: fit-content;
    transition: none;
  }

  nav div.logo-box{
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: fit-content;
    top: 0;
    left: none;
    bottom: none;
  }

  li a:hover ::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #fff;
    transition: all .2s;
  }

  
  div.menu-contr ul{
    position: relative;
    bottom: 0;
    padding: 0 1.5rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  div.menu-contr ul li a{
    color: #fff;
  }

  nav li a{
    position: relative;
  }
  nav li a::before{
    content: '';
    width: 0px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: -.3rem;
    left: 30%;
    transition: all .2s ease;
  }
  nav li a:hover::before{
    width: 50%;
  }
  

  img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  picture{
    width: 100%;
    height: 100%;
    display: block;
  }

  header h1{
    max-width: 400px;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  header div.slide-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  
  header div.slide-text-box{
  max-width: 600px;
  padding: 5rem 5rem;
  display: flex;
  justify-content: center;
  align-items: start;
}


header .slide-nav-box{
  position: absolute;
  right: none;
  bottom: 0;
  left: 100%;
  display: flex;
}

header .slide-nav-btn{
  padding: 1.2rem 2rem;
  cursor: pointer;
  background-color: hsl(0, 0%, 0%);
  transition: all .3s ease;
}

header button.cta-btn , button.cta-btn svg{
  cursor: pointer;
  transition: .3s ease;
}
header button.cta-btn:hover{
  color: var(--Grey-500);
}
header button.cta-btn:hover svg{
  fill: var(--Grey-500);
}

main{
  padding: 0;
  width: 100%;
}
main section{
  width: 100%;
}
main section{
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

section div.about-dark-box{
  width: 100%;
  
}
section div.about-light-box{
  width: 100%;
}


section div.about-text-box{
  width: 100%;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
}
